<%= flash[:notice] %>

<%= render 'list', user: @user %>

  <div class="col-lg-8">
    <h2>Book</h2>
      <table class="table">
        <thead>
          <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @book.each do |book| %>
            <% if book.user_id == current_user.id %>
              <tr>
                <td>
                <%= link_to user_path(book.user_id) do %>
                <%= image_tag book.user.get_profile_image(100,100) %>
                <% end %>
                </td>
                <td>
                <%= link_to book_path(book.id) do %>
                <%= book.Title %>
                <% end %>
                </td>
                <td>
                <div class="opinion"><%= book.Opinion %></div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
</div>